<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="OrienteeringStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="OrienteeringStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
 <userSettings>
  <OrienteeringStation.Properties.Settings>
   <setting name="Print" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TurSorew" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FileName" serializeAs="String">
    <value />
   </setting>
   <setting name="SortStatus" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SortTimeStart" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SortGroup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SortCommand" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SortName" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SortUID" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SortNumber" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ClearUsers" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ClearPol" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ClearYear" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ClearRank" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ClearGroup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ClearDelegations" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ClearStart" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ToClearNumber" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ToClearUID" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ToAINumber" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ToAIUID" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ToClearTS" serializeAs="String">
    <value>00:00:00</value>
   </setting>
   <setting name="ToAITS" serializeAs="String">
    <value>00:00:00</value>
   </setting>
   <setting name="UIDCheinge" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoAdd" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AIUID" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AITS" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ClearNumber" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AINumber" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ClearUID" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ClearTS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UpdateDGW3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SplitContainer1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SplitContainer2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SplitContainer3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="splitContainerDistaince" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="splitContainerUser" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="splitContainerResult" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="SpecifledOrder" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PenaltyTime" serializeAs="String">
    <value>000000</value>
   </setting>
   <setting name="Penalty" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="kick" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="kickNumber" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ImageDown" serializeAs="String">
    <value />
   </setting>
   <setting name="МестоПроведения" serializeAs="String">
    <value />
   </setting>
   <setting name="RancCounting" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MaxTimeDistance" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MaxTime" serializeAs="String">
    <value />
   </setting>
   <setting name="SpecifledOrderFinish" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MaskFinish" serializeAs="String">
    <value />
   </setting>
   <setting name="MaskFinish1" serializeAs="String">
    <value>00</value>
   </setting>
  </OrienteeringStation.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <OrienteeringStation.Properties.Settings>
   <setting name="wesdf" serializeAs="String">
    <value>0, 0</value>
   </setting>
  </OrienteeringStation.Properties.Settings>
 </applicationSettings>
</configuration>